.item {
  display: flex;
  align-items: flex-start;
}

.checkbox {
  margin-right: 6px;
}

.label {
  flex-grow: 1;
}

.item + .add {
  margin-top: 9px;
}

.remove {
  margin-left: 6px;
  cursor: pointer;
  transition: .5s color;
  margin-top: 5px;
}

.remove:hover {
  color: #1890ff;
}

.switchOuter {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
}

.switch {
  margin-right: 6px;
}
