.item {
  display: flex;
  align-items: flex-start;
}

.checkbox {
  margin-right: 6px;
}

.label {
  flex-grow: 1;
}

.add {
  margin-top: 6px;
}

.remove {
  margin-left: 6px;
  cursor: pointer;
  transition: .5s color;
  margin-top: 5px;
}

.remove:hover {
  color: #1890ff;
}
